.card-yt-outer {
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin: 1rem 2rem;
}

.card-yt {
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
}

@media(min-width: 481px) {
    .inner-window-yt {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
    .card-yt-content {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* number of lines to show */
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}


/* .card-yt-outer {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.card-yt {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 1rem auto;
    border-radius: 1rem;
    padding: 1rem;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

.card-yt:hover {
    transform: translateY(-3px);
    -webkit-box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.50);
    box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.50);
} */

.card-yt-img {
    border-radius: 1rem;
}

.card-yt-description {
    overflow: hidden;
}

.card-yt-content {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0;
}

.card-yt-content-time {
    color: #2b2d42;
}

@media (max-width: 769px) {
    .card-yt {
        flex-direction: column;
    }
}

@media (min-width: 768px) {
    .window {
        /* height: 50%; */
        width: 100%;
        /* float: left; */
        margin: 0 auto;
        overflow-y: scroll;
        overflow-x: hidden;
        /* align-items: center;
        justify-content: center; */
    }
    .card-yt-description {
        margin-left: 0.2rem;
    }
}